<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>CarLog</span>
</div>

<div class="img-bg">
  <img src="../assets/img/Bentley-Continental-3D-Rotating.gif" alt="">
</div>

<div class="content" role="main">

  <div class="image-background">
    <img src="../assets/img/bentley-continental-gt-4k.jpg" alt="">
  </div>

  <!-- Card -->

  <input type="hidden" #selection>

  <!-- componentes -->
  <div class="card-ng" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault><img src="../assets/img/bentley-continental-red-torino.png"></pre>
    <pre *ngSwitchCase="'Azul Metálico'"><img src="../assets/img/Bentley-Continental-blue.png" alt=""></pre>
    <pre *ngSwitchCase="'Black'"><img src="../assets/img/bentley-continental-black.png" alt=""></pre>
    <pre *ngSwitchCase="'Amarelo Metálico'"><img src="../assets/img/bentley-continental-yellow.png" alt=""></pre>
</div>

  <div class="card-container">


    <button class="card-btn" (click)="selection.value = 'Vermelho torino'" tabindex="0">
      <span>Vermelho Torino</span>
    </button>

    <button class="card-btn" (click)="selection.value = 'Azul Metálico'" tabindex="0">
      <span>Azul Metálico</span>
    </button>

    <button class="card-btn" (click)="selection.value = 'Black'" tabindex="0">
      <span>Black</span>
    </button>

    <button class="card-btn" (click)="selection.value = 'Amarelo Metálico'" tabindex="0">
      <span>Amarelo Metálico</span>
    </button>
  </div>

<!-- details -->

<div>
  <h2>Veja detalhes do interior</h2>
  <span>
    &nbsp;&nbsp;&nbsp;Recebe acabamento em Alcantara preto e couro impera, além de painéis em fibra de
    carbono. <br>
    &nbsp;&nbsp;&nbsp; As costuras vermelhas espalhadas pelos bancos, portas, painel de bordo e volante
    fazem o contraste, para a escolha outras 15 cores disponiveis, além de 11 cores de
    couro e oito tipos de madeira para os detalhes entre costura dos assentos e pequenos detalhes no teto
    e portas.
  </span>
  <div class="image-background">
    <img src="../assets/img/BentleyContinental-interior-1.jpg" alt="">
  </div>
</div>

<div>
  <h2>Motor</h2>
  <span>
    &nbsp;&nbsp;&nbsp; Um W12 6.0 recebeu tratamento especial por parte da engenharia da Bentley. <br>
    &nbsp;&nbsp;&nbsp; <h2>659 cv </h2><br>
    &nbsp;&nbsp;&nbsp; <h2>91,8 kgfm</h2> <br>
    &nbsp;&nbsp;&nbsp; Suficientes para levar este Gran Tourer aos 335 km/h e alcançar os 100 km/h em
    3,5 segundos. <br>
    &nbsp;&nbsp;&nbsp; Motor combinado ao câmbio automatizado de dupla embreagem com oito marchas, que a Bentley diz
    ser duas vezes mais rápida nas trocas quando em modo Sport na comparação com o Continental GT W12
    convencional.

  </span>
  <div class="image-background">
    <img src="../assets/img/Bentley-Continental-motor.jpg" alt="">
  </div>
</div>

</div>

  <!-- Links -->

  <h3>Links</h3>

  <div class="card-container">
    <a class="link" title="Veja codigo fonte em github" href="https://github.com/LinikerNogueiraMachado/CarLog.git" target="_blank" rel="noopener">
      <img src="../assets/img/icons/logo-github.svg" alt="">
    </a>

    <a class="link" title="Projeto em linkedin" href="https://www.linkedin.com/in/liniker-nogueira-machado" target="_blank" rel="noopener">
      <img src="../assets/img/icons/logo-linkedin.svg" alt="">
    </a>

  <!-- contact -->
  <a class="link" title="Acesse meu WhatssApp (11)9 5578-7391" href="https://bit.ly/portifolio_liniker_nogueira" target="_blank" rel="noopener">
    <img src="../assets/img/icons/logo-whatsapp.svg" alt="">
  </a>
</div>

<footer>
  &copy; <span>Liniker Nogueira Machado || 2022 || São Paulo</span>
</footer>
<router-outlet></router-outlet>
